@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Regular.ttf');
}

.carusel{
    background-color: rgba(205, 209, 220, 0.91);;
}
.main-logo {
    height: 343px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.menu{
    background-color: rgba(205, 209, 220, 0.91);
}
.filaTres {
    background-color: yellow;
}
.meter{
    background-color: yellow;
    height: 200px;
    width: 100%;
}

.pie{
    background-color: #0f0f0f;
    width: 100%;
    height: 200px;
}


.foot{
    background-color: #010101;
    color: white;
}
.menu{
}
.slogan h4{
    text-transform: uppercase;
        color: white;
    font-weight: 800;
    line-height: 1em;
    font-family: lato;
}
.slogan h4:first-child{
    font-weight: normal;
    color: rgba(170, 173, 170, 0.84);
}
.slogan{
    background-color: rgba(15, 15, 15, 0.57);
    position: absolute;
    right: 0;
    top: 25%;
}
#eldos li{
    list-style: none;
    border-bottom: 1px solid rgba(125, 125, 125, 0.95);
}
.foot h3{
    font-weight:900;
}
.meter{
    background-color: #ffff00;
    width: 100%;
}
/*inicio trial*/
.wrapper {
    background: #ffff00;
    margin: 10px;
}

.content {
    font-family: Arial;
    background: #ffff00;
    color: #010101;
    padding-top: 10px;
    text-align: center;
    height: 100px;
}
.fondcont{
    background: #cdd1dc;
}

.triangle-down{
    box-sizing: content-box;
    width: 50%;
    height: 0;
    padding-left:50%;
    padding-top: 5%;
    overflow: hidden;
}
.triangle-down div {
    width: 0;
    height: 0;
    margin-left:-1000px;
    margin-top:-100px;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-top: 100px solid #ffff00;
}
/*-- fin triangulo*/



/*-- triangulo blanco*/
.fondYellowb {
    background: #f7f7f7;
}


.fondYellowb.wrapper {
    background: white;
    margin: 10px;
}

.fondYellowb.content {
    font-family: Arial;
    background: white;
    color: #010101;
    padding-top: 10px;
    text-align: center;
    height: 100px;
}

.fondYellowb.triangle-down{
    box-sizing: content-box;
    width: 50%;
    height: 0;
    padding-left:50%;
    padding-top: 5%;
    overflow: hidden;
}
.fondYellowb.triangle-down div {
    width: 0;
    height: 0;
    margin-left:-1000px;
    margin-top:-100px;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-top: 100px solid #cdd1dc;
}
/*--fin triangulo blanco*/





/*-- triangulo blanco*/
.fondYellow {
    background:yellow;
}


.fondYellow.wrapper {
    background: #ffff00;
    margin: 10px;
}

.fondYellow.content {
    font-family: Arial;
    background: #ffff00;
    color: #010101;
    padding-top: 10px;
    text-align: center;
    height: 100px;
}

.fondYellow.triangle-down{
    box-sizing: content-box;
    width: 50%;
    height: 0;
    padding-left:50%;
    padding-top: 5%;
    overflow: hidden;
}
.fondYellow.triangle-down div {
    width: 0;
    height: 0;
    margin-left:-1000px;
    margin-top:-100px;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-top: 100px solid white;
}
/*--fin triangulo blanco*/





/*-- triangulo blanco*/
.fondYellowa {
    background: #b6b9c3;
}


.fondYellowa.wrapper {
    background: #b6b9c3;
    margin: 0;
}

.fondYellowa.content {
    font-family: Arial;
    background: #b6b9c3;
    color: #010101;
    padding-top: 10px;
    text-align: center;
    height: 100px;
}

.fondYellowa.triangle-down{
    box-sizing: content-box;
    width: 50%;
    height: 0;
    padding-left:50%;
    padding-top: 5%;
    overflow: hidden;
}
.fondYellowa.triangle-down div {
    width: 0;
    height: 0;
    margin-left:-1000px;
    margin-top:-100px;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-top: 100px solid #f7f7f7;
}
/*--fin triangulo blanco*/













